# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

**Objectives:**
- List popular languages for Data Science
- Data science libraries
- Data Science tools

Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. Numpy
3. Pandas

| Data Science Tools |
| :- | 
| RStudio | 
| Apache Spark | 
| Apache Hadoop |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
def to_hours(a):
    return print(a/60, "hours")
to_hours(minutes)

3.3333333333333335 hours

## Autor 
Josue David Castillo Araiza